---
import IconEye from "@/assets/icons/IconEye.svg";

type Props = {
  class?: string;
};

const { class: className = "" } = Astro.props;
---

<span
  class:list={["text-muted-foreground flex items-center gap-1.5", className]}
>
  <IconEye class="inline-block size-6 min-w-5.5 scale-90" />
  <span class="text-sm sm:text-base" data-views-text>—</span>
</span>
