---
import type { CollectionEntry } from "astro:content";
import { getPostUrl } from "@/utils/getPostPaths";
import { slugifyStr } from "@/utils/slugify";
import IconEye from "@/assets/icons/IconEye.svg";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"posts">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, ...props } = data;
const postPath = getPostUrl(id, filePath, Astro.currentLocale);
---

<li class="my-6" data-path={postPath}>
  <a
    href={postPath}
    class:list={[
      "text-accent inline-block font-serif text-lg font-medium",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading transition:name={slugifyStr(title.replaceAll(".", "-"))}>
      {title}
    </Heading>
  </a>
  <div class="flex items-center gap-x-3">
    <Datetime {...props} />
    <span class="text-muted-foreground flex items-center gap-1.5">
      <IconEye class="inline-block size-6 min-w-5.5 scale-90" />
      <span class="text-sm" data-views-text>—</span>
    </span>
  </div>
  <p>{description}</p>
</li>
